extends layout

block content
    div(class='row')
        div(class='col-lg-12 col-md-12 col-sm-12 col-xs-12')
            h2 Welcome to #{title}
            p Need a photographer?  You've come to the right place.  We've got a complete list of photographers in the Barrie area to meet all your needs. View photographers by name, location or even rating!             
            a(href='/photographers') Find a Photographer!
